---
- name: Configure VLANs and trunking
  hosts: switches
  gather_facts: no

  tasks:
    - name: Create VLANs
      ios_config:
        lines:
          - vlan 10
          - name DATA
          - vlan 20
          - name VOICE
          - vlan 99
          - name MANAGEMENT

    - name: Configure trunk to Router1
      ios_config:
        parents: interface GigabitEthernet1/0/1
        lines:
          - switchport mode trunk
          - switchport trunk allowed vlan 10,20,99
          - no shutdown
